@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,200&display=swap');
:root{
	--mainBg: #0632BE;
    --card: #777;
    --darkerColor: #555;
    --sideBar: #242730;
    --faded: #A9ACBB;
    --success: #00A925;
    --danger: #ED1818;
    --text: #4C506B;
    --lightBlue: rgba(6, 52, 191, 0.35);
    --strgBlue:rgb(6, 52, 191);
    --strangeBlue: #042FBD;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #fff;
    width: 100%;
    height: 100vh;
    overflow-x:hidden;
}
.sidebarCont{
    height: 100%;
}
main {
display: flex;
flex-wrap: nowrap;
height: 200vh;
height: -webkit-fill-available;
}
.sidebar,
.content{
}
.sidebar{
    display:flex;
    flex-direction: column;
    width: 15%;
    margin-left: 2rem;
    margin-bottom: 12rem;
    position: sticky;
    left: 0;
}
.sidebar p{
    margin-left: 1.5rem;
    font-weight: bolder;
}
.content{
    display:flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 10rem;
}
.headerInfo{
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items:center;
}
.nav-pills .nav-item .nav-link.custom{
    color: #222;
}
.nav-pills .nav-item .nav-link.active{
    background-color: #999;
    color: #fff;
}
.nav-pills .nav-item .nav-link.custom.active{
    background-color: #fff;
    color: var(--mainBg);
}
.last{
    margin-bottom: 1rem;
}
.support{
    height: 50vh;
    display: flex;
    margin-left: 2rem;
}
.supAndLog{
    justify-content: center;
}
.searchInput{
    width: 30rem
}
.search{
    display: flex;
}
.searchInput::placeholder{
    text-align: right;
    padding-right: 30px;
}
.searchIcon{
    transform: translate(-30px, 9px);
    cursor: pointer;
}
.imgs,
.user{
    padding: 7px;
}
.user{
    width: 200px;
    height: 25px;
}
.user .text{
    font-size: 12px;
    line-height: 2;
}
.user{
    display: flex;
    transform: translateY(-5px);
}
.user img{
    width: 1.50rem;
    height: 1.50rem;
    margin-right: 12px;
    margin-top: 7px;
    /* align-self: center; */
    justify-self: center;
}
.title{
    font-weight: 700;
}
.imgs img{
    margin-right: 3rem;
}
img{
    cursor: pointer;
}


.accountCard p,
.accountCard span,
.activeDomains p,
.activeDomains span,
.activeDomains span a,
.topTxt p,
.topTxt h3{
    font-family: 'DM Sans', sans-serif;
}
.Tab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;
}
.flexCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-left: 2rem;
}
.mainCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.flexCont span{
    width: 50px;
}
.mb-5{
    margin-bottom: 5rem;
}
.domainContTab{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 11rem;
    /* height: 100%; */
}
.domainContTab span{
    align-self: center;
    justify-self: center;
    text-align: center;
}

.flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.tableHead{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}
.tableHead{
    padding: 1rem 2rem;
    justify-content: space-between;
    font-size: 18px;
}
.tableHead span{
    color:var(--faded);
}
.house{
    color: var(--mainBg);
}
.change{
    margin-right: 20px;
}
.changeT{
    width: 10rem;
}
.TwoCards{
    width: 100%;
	display:flex;
	gap:30px;
}
.usageLimit,
.domainScore{
    border-radius: 7px;
    width: 100%;
    height: 18rem;
    padding: 1.5rem 0.9375rem;
    box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
}
.domainScore .imgAndContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.domainScore .imgAndContent .donought{
    width: 30%;
    align-self: center;
    justify-self: center;
}
.usageLimit h3,
.domainScore h3{
    font-weight: 600;
    font-size: 25px;
}
.numerals{
    font-size: 22px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
}
.numeralsText{
    font-size: 13px;
}
.domainScore .imgAndContent .imgTxt{
    position: absolute;
}
.domainScore .imgAndContent .imgTxt .txtAccess{
    font-size: 12px;
    width: 50px;
    text-align: center;
}
.users{
    display: flex;
    justify-items: center;
}
.users h6{
    font-size: 12px;
    align-self: center;
    justify-self: center;
    padding-top: 3px;
}
.accountCard{
    width: 100%;
    height: 22rem;
    border-radius: 12px;
    box-shadow: 0px 2px 24px 10px rgba(0, 0, 0, 0.08);
}
                /* tableOfActiveDomains */
.table{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 2px 24px 10px rgba(0, 0, 0, 0.08);
}
.topTxt{
    padding: 1.5rem 2rem;
}
.topTxt p{
    font-weight: 100;
    font-size: 14px;
}
.topTxt h3{
    font-weight: 500;
    font-size: 35px;
}
.Txtcontent{
    position: relative;
}
.Txtcontent .dummyGraph{
    position: relative;
    margin-top: -5%;
}
.captions{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-self:flex-end;
    transform: translateY(2.5rem);
}
.tableContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.activeDomains{
    color: var(--mainBg);
}
.activeDomains h4{
    margin-bottom: 1rem;
}
/* .hostedContent{
    transform: translateX(-3.5rem);
}
.watchListContent{
    transform: translateX(-1rem)
}
.statusContent{
    transform: translateX(-1.5rem);
}
.actionContent{
    transform: translateX(-.6rem);
} */
.hostedContent,
.actionContent,
.statusContent,
.watchListContent{
    /* transform: translateX(-2rem); */
}
.Coin{
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}
.btnAction{
    width: 6rem;
    height: 2rem;
    border-radius: 0.4375rem;
    background: #00A925;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    background: var(--success);
    border: 0;
    outline: 0;
    border-radius: 7px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.1rem 3rem;
    cursor:default;
    margin-bottom: .8rem;
}
.watchListContent{
    margin-bottom: .5rem;
}
.btnAction:hover {
    cursor:default;
}
.statusContent span{
    margin-bottom: 1.8rem;
}
.flexCont{
    position: relative;
}
.flexCont.tabs{
    width: 60rem;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
}
.flexCont.tabs:nth-child(2) .hostedContent{
    /* transform: translateX(-28px); */
}
.bIconImg{
    /* margin-right: 15px; */
}
.hostedContent{
    
}
.danger{
    background: var(--danger);
}
.watchListContent a{
    color: var(--text);
    transition: .3s ease-in-out;
}
.watchListContent a:hover{
    color: var(--mainBg);
}
table{
    border-radius: 12px;
}
.flez{
    display: flex;
    flex-direction: column;
}
.flez td{
    margin-bottom: .5rem;
 }
.margin{
    margin-right: 2rem;
}
tbody{
    padding: 3rem;
}
td{
    border: 0;
}
.statusContent{
    margin-bottom: 1.8rem;
}
.desktop{
    color: #0632BE;
}
.usageBars{
    display: grid;
    width:100%;
    height: 100%;
    grid-template-columns: 50% 50%;
    justify-self: flex-end;
}
.pageViews,
.remediation,
.Avg,
.totalPages{

}
.pageViews h5,
.remediation h5,
.Avg h5,
.totalPages h5{
    font-size: 12px;
}
.pageViewsProgress,
.remediationProgress,
.avgProgress,
.totalPagesProgress{
    width: 100%;
    background: var(--lightBlue);
    border-radius: 7px;
}
.pageViewsProgressBar,
.remediationProgressBar,
.avgProgressBar,
.totalPagesProgressBar{
    width: 35%;
    height: 5px;
    background: var(--strgBlue);
    border-radius: 7px;
  }
  .insightsChart, .activedomains {
    width: 100%;
   box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.08);  
  }

  .contentChart{
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .contentChart .headingInsights{
    font-weight: 600;
    font-size: 17px;
    font-family: "DM Sans", sans-serif;
  }
  .chartMain{
    width: 85%;
  }
  .div-Round{
    width: 250px;
    border: 1px solid var(--mainBg);
    border-radius: 10px;
    padding: 3px 5px;
  }
  
                            /* custom pills */
  .context .nav.nav-pills {
    width: 75%;
    margin: 0 auto;
    border-radius: 150px;
    border: 1px solid var(--mainBg);
    background: transparent;
    overflow: hidden;
}
.context .nav.nav-pills .nav-item {
    border: 1px solid var(--mainBg);
    width: 33.335%;
}
.context .nav.nav-pills .nav-link {
      color: var(--mainBg);
    background-color: transparent;
    border-radius: 0;
    padding: 5px 0;
    width: 100%;
    font-size: 13px;
    letter-spacing: 0.8px;
    font-weight: 500;
    position: relative;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 0;
  }
  .context .nav.nav-pills .nav-link::before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      background: var(--mainBg);
      color: #fff;
      top: 0;
      left: 0;
      z-index: -1;
      transition: 0.3s ease-in-out;
  }
  .context .nav.nav-pills .nav-link.active::before {
      width: 100% !important;
  }
  .context .nav.nav-pills .nav-link.active {
    color: #fff;
  }
  .nav-link.context-week {
    border-radius: 55px 0px 0px 55px;
  }
  .nav-link.context-aMonth{
  }
  .nav-link.context-threeMonth {
    border-radius: 0 55px 55px 0;
  }

                    /* AccountDetails */
                    /* profileImgHeadingSect */
.accDetails{
                        margin-bottom: 30%;
}
.accDetails .accImgDetails .backdropBgAcc img{
    width: 100%;
    height: 20rem;
}
.accImgDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.accImgDetails .backdropBgAcc{
}
.accImgDetails .backdropBgAcc .kebabIcon{
    font-size: 40px;    
    color: #fff;
    padding: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.accImgDetails .profileImg{
    position: absolute;
    transform: translateY(80%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.accImgDetails .profileImg img{
    border: 5px solid #fff;
    margin-right: .2rem;
}
.accImgDetails .profileImg .subsectDesc{
    align-self: flex-end;
    font-family: 'Lato', sans-serif;
}
.accImgDetails .profileImg .subsectDesc .highlightedInfo{
    font-family: 'Lato', sans-serif;
    width: 50px;
    font-size: 12px;
    text-align: center;
}
.accImgDetails .profileImg .subsectDesc .accName{
    color: var(--strangeBlue);
    padding-top: 3px;
    font-family: 'Poppins';
    font-size: 1rem;
}

/* Tabs Account Section */
.accDetails .accTabs{
    width: 100%;
    transform: translate(5%, 60%);
}
.accTabs .backdropAccTabs{
    width: 15%;
    height: 15rem;
    padding: 20px 0px;
    border-radius: 7px;
    box-shadow: 0px 1px 13px 9px rgba(0, 0, 0, 0.08);
    margin-right: 2rem;
}
.accTabs .accTabsCont{
    width: 70%;
    box-shadow: 0px 1px 13px 9px rgba(0, 0, 0, 0.08);
    padding: 20px;
    border-radius: 7px;
}
.backdropAccTabs .nav.nav-pills{
    border-radius: 0;
    --bs-nav-pills-border-radius: 0;
}
.backdropAccTabs .nav.nav-pills .nav-item{
    font-family: "Poppins";
    font-weight: 900;
}
.backdropAccTabs .nav.nav-pills .nav-item .nav-link{
    color: #222;
}
.backdropAccTabs .nav.nav-pills .nav-item .nav-link.active{
    position: relative;
    --bs-nav-pills-border-radius: 0;
    border-radius: 0;
    background: #bdbdbd;
    color: var(--mainBg);
}
.backdropAccTabs .nav.nav-pills .nav-item .nav-link.active::before{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 5px;
    height: 40px;
    background: var(--mainBg);
}
.accTabs .adminDetailsTab,
.accTabs .billingTab{
    margin-bottom: 2rem;
}
.accTabs .adminDetailsTab .nav,
.accTabs .billingTab .nav{
    position: relative;
}
.accTabs .adminDetailsTab .nav::before,
.accTabs .billingTab .nav::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 5px;
    background: #777;
    border-radius: 7px;
}
.accTabs .adminDetailsTab .nav .nav-item .nav-link,
.accTabs .billingTab .nav .nav-item .nav-link{
    color: #999;
    font-weight: 900;
}
.accTabs .adminDetailsTab .nav .nav-item .nav-link.active,
.accTabs .billingTab .nav .nav-item .nav-link.active{
    position: relative;
    color: #222;
}
.accTabs .adminDetailsTab .nav .nav-item .nav-link.active::before,
.accTabs .billingTab .nav .nav-item .nav-link.active::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    bottom: 0;
    left: 0;
    transform: translateX(-20%);
    background-color: var(--mainBg);
    border-radius: 7px;
    margin-left: 2rem;
}
.navForAdmin{
   
}

/* .billingTab */
.billHistory{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.billHistory .filter{
   align-self: flex-end;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-right: 5rem;
}
.statusOfInvoice,
.statusOfTeam{
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.invTable{
    box-shadow: none;
}
.invTable thead tr th,
.invTable tbody tr th{
    padding: 20px;
    border-bottom: none;
}
.invTable tbody tr th td{
    padding-left: 5rem;
}
.pImg{
    width: 55px;
    height: 55px;
    margin-right: .5rem;
}
.inviteMembersForm{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
} */

/* responsiveness */

.menu{
    color: white;
    display: none;
    position: relative;
    right: 50px;
    /* top: -20px; */
    background: none;
    border: 0px;
    font-size: 25px;
    color: var(--mainBg);
  }

    .dummyGraph{
        width: 98%;
    }
@media screen and (max-width: 1280px) {
   
    .insightsChart{
        width: 100%;
		
    }
    .headingInsights{
        width: 20% !important;
    }
    .accountCard{
        width: 100%;
    }
    .dummyGraph{
        width: 98%;
    }
    .firstrow{
       width: 100%;
      }      
      .secondrow, .thirdrow {
        gap: 15px;
    }    
    .usersbox{
        height: auto;
    }
}
  
@media screen and (max-width: 988px){
    .search,
    .sidebar.desktop{
        display: none;
    }

	.TwoCards{
        width: 90%;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 1rem;
        margin:auto;
    }
	
.accountCard{
    width:90%;
    height: 22rem;
    border-radius: 12px;
    box-shadow: 0px 2px 24px 10px rgba(0, 0, 0, 0.08);
overflow-x:auto;
margin:auto;
}
	
	.insightsChart, .activedomains, .table{
        width: 90%;
	overflow-x:auto;
	margin:auto;
    }
	.section {
		width:90%;
		margin:auto;
		margin-left:15px;
	}
		
	.content{
         width:100% !important;
        }
       .menu
    {
        display: block;
    }
    .mx-5.mobile{
        margin-left: 0 !important;
    }
    .accTabs .row{
        flex-direction: column;
    }
    .accTabs .backdropAccTabs {
        width: 85%;
        margin-bottom: 3rem;
    }
    .accTabs .accTabsCont {
        width: 100%;
        box-shadow: 0px 1px 13px 9px rgba(0, 0, 0, 0.08);
        padding: 20px;
        border-radius: 7px;
	    
    }
    .flex{
	    width:100%;
	 
    }
	
.flexi{
width:120%;
overflow-x:auto;
}
	
	.billHistory, .inv{
        width:90%;
	overflow-x:auto;

	}

	.imgs{
		display:none;
	}
	.text{
	text-align:center;
	}
.user{
	display:flex;
	gap:12px;
}
.others{
display:flex !important;
align-items:center;
justify-content:center;
justify-content:space-evenly;
gap:20x;
	
}

	.context{
	width:100% !important;
	display:flex;
	flex-direction:column;
}

	.domainsInsights{
		margin-top:20px !important;
	}

	.filters{
		display:flex!important;
		justify-content:space-evenly;
	}
	
} 
@media screen and (max-width: 650px) {
    
    .accDetails .accImgDetails .backdropBgAcc img {
        object-fit:cover;
    }
	 .TwoCards{
        width: 90%;
	margin:auto; 
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        margin-bottom: 1rem;
    }

	.insightsChart, .table, .activedomains{
        width: 90%;
	overflow-x:auto;
	margin:auto;
	}
	

	
	
}
