
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}


body{
  background-color: rgb(211, 66, 66);
}

.numbers{
  display: flex;
  align-items: center;
}

.num1{
  font-size: 20px;
}


.all{
  width: 120%;
  margin: auto;
}


.firstrow{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  max-width: 100%;
}

#select{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 8px;
  padding-bottom: 0px;
  margin-bottom: 0px;
 
 
  
 
}

.select{
  background-color: white;
  width: 100%;
  padding-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
  border-radius: 18px;
  cursor: pointer;
 
}
.secondrow1, .secondrow2, .thirdrow1, .thirdrow2{
  width: 50%;
}




.secondrow, .thirdrow{
  max-width: 100%;
  display: flex;
  gap: 15px;

}

.secondrowbox1{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  margin-top: 30px;
  gap: 20px;
  height: 310px;
}

.userboxrow1, .userboxrow2{
  display: flex;
  gap: 8px;
  max-width: 100%;
  
 
}


.usersbox{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 145px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  margin: .5rem;
  box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.08);
}


.img{
  max-width: 100%;

}

.usersbox p{
  font-size: 14px;
}

.prog{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}



.secondrowbox2{
  margin-top: 30px;
  box-shadow: 0px 7px 10px 7px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  max-width: 100%;
}

 .header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.headerselect{
  background: none;
  border: none;
  outline: none;
}

.hr{
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 0px;


}

.imgframe{
  max-width: 100%;

  
}


.month{
  display: flex;  
  gap: 8px;
}

.peopleinfo1{
  display: flex;
  flex-direction: column;
  
}

.peopleinfo2{
  display: flex;
  gap: 10px;
}

.peopleinfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

.thirdrowbox1, .thirdrowbox2{
  margin-top: 30px;
  box-shadow: 0px 5px 7px 7px rgba(0, 0, 0, 0.08);
  height: 570px;
  border-radius: 20px;
  
}
.thirdrowbox1{
  margin-left: .3rem;
}

.emplo{
  padding-left: 20px;
  padding-top: 25px;
  color: gray;

}
.people{
  display: flex;
  gap: 15px;
  align-items: center;
  padding-top: 20px;
}


.peopleinfo1 span{
  font-size: 15px;
}

  .number{
    display: flex;
    gap: 5px;
  }

  .box{
    display: flex;
    flex-direction: column;
   
  }

  .projectbox1 img{
    width: 36px;
  }

  .projectbox1{
    display: flex;
    align-items:center ;
    gap: 15px;
    background: #FFF;
    box-shadow: 0px 5px 10px 7px rgba(0, 0, 0, 0.08);
    width: 100%;
    border-radius: 17px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;

  }

  .projectbox{
    width: 87%;
    display: flex;
    gap: 20px;
    margin-top: 30px;

  }


  .projectall{
    width: 87%;
    margin: auto;
  }




  .check{
    display: flex;
    gap: 10px;
  }

  #check{
    transform: scale(1.7);
    border-color: #FAFAFA;
    
  }

  .deled{
    display: flex;
    gap: 5px;
  }
#tab th, td{
  padding: 15px;
}

#tab td{
  background-color: #FAFAFA;
}

.tickettable{
  margin-top: 0px;
}

.plus{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(212, 212, 212, 0.2), 0 6px 20px 0 rgba(214, 214, 214, 0.19);
  width: 130px;
  border-radius: 5px;
  justify-content: center;
}

.plus1{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  cursor: pointer;
}


.prev{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.fum{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fom{
  width: 50%;
}

.catDate{
  display: flex;
  gap: 10px;
}

.date, .cate, .des,.tickets{
  width: 100%;
}


#des{
  padding: 50px;
}

#sub{
  padding: 9px;
  width: 130px;
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: #0634BF;
  color: white;
}

.ticketsinpu input, .cateinpu select, .dateinpu input, .desinpu input{
  border: none;
  outline: none;
  font-size: 14.5px;
  width: 100%;
  background-color: #FAFAFA;
}

.ticketsinpu, .cateinpu, .dateinpu, .desinpu{
    border-radius: 15px;
    background-color: #FAFAFA;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}


  .firstinput, .userinput, .lastinput, .emailinput, .phoneinput{
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    width: 270px;
    
  
  }
  .bioinput{
    border-radius: 15px;
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    max-width: 100%;
    font-size: 14px;
  }

  .bio input{
    width: 100%;
    border: none;
    outline: none;
    font-size: 14.5px;
  }

  .firstinput input, .userinput input, .lastinput input, .email input, .phonenum input{
    border: none;
    outline: none;
    font-size: 14.5px;
    width: 180px;
    
  }

  .acctdetails, .orgadetails, .billdetails, .atmdetails{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;

  }


  .firstlast, .mailphone{
    display: flex;
    justify-content: space-between;
   
  }

  .butt{
    display: flex;
    gap: 20px;
    margin: auto;
    margin-top: 20px;
  }

  .btn1{
    padding: 9px;
    width: 130px;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #0634BF;
    color: white;
  }

  .btn2{
    border: 1px solid #0634BF;
    color: #0634BF;
    background-color: white;
    padding: 9px;
    width: 130px;
    box-sizing: border-box;
    border-radius: 8px;
  }


.organinput{
    background-color: white;
    border: 1px solid rgb(165, 165, 165);
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    width: 320px;
    border-radius: 4px;

}

.organinput input{
    border: none;
    outline: none;
  
    
}
  
.dangerr{
    background-color: rgb(230, 230, 230);
    padding: 10px;
    box-sizing: border-box;
    max-width: 100%;
    width: 320px;
    display: flex;

    gap: 8px;

}

.organizationcover, .organization, .atmall{
    display: flex;
    flex-direction: column;
    gap: 40px;

}


.carddetails{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(230, 230, 230);
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;

}

.remove{
    display: flex;
   align-items: center;
   gap: 10px;
   justify-content: space-between;
   
}

.atm{
    width: 50%;
}

.addpayment{
    border: 1px solid  #0634BF;
    padding: 7px;
    border-radius: 7px;
    width: 80%;
    color:  #0634BF;
    margin-top: 30px;
}


.freeplan{
    padding: 20px;
    border-radius: 8px;
    border-radius: 10px;
    background-color: rgba(244, 244, 248, 0.50);
    width: 40%;
    
}

.billingplans{
    display: flex;
    width: 100%;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
}




                                   

@media screen and (max-width:1300px) {

  

  .img{
      width: 80%;
  }

  .num1{
      font-size: 17px;
  }

  .secondrow, .thirdrow{
      gap: 8px;
  }

  .usersbox{
      padding: 8px;
      
      
  }
  .peopleinfo1  span{
      font-size: 12px;

  }

  #select span{
      font-size: 13px;
  }

  .userboxrow1, .userboxrow2{
      gap: 5px;
  }

  .peopleinfo2  span img{
      width: 8px;

  }

  .people span img{
      width: 18px;
  }

  
}
